* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
 
body {
	background: #FAFAFA;
	font-family: arial, helvetica, sans-serif;
	font-size: 16px;
}
 
.wrap {
	margin: auto;
	max-width: 800px;
	width: 90%;
}
 
.principal {
	background: #F44336;
	border-top: 20px solid #D32F2F;
	color: #fff;
	padding: 50px 0;
	width: 100%;
}
 
.principal .formulario {
	color: #212121;
	text-align: center;
}
 
.principal .formulario input[type=text] {
	margin-bottom: 20px;
	padding: 10px;
	width: 100%;
}
 
.principal .formulario input[type=text].error {
	border: 5px solid #D32F2F;
	color: red;
}
 
.principal .formulario .boton {
	background: none;
	border: 1px solid #D32F2F;
	color: #fff;
	display: inline-block;
	font-size: 16px;
	padding: 15px;
}
 
.principal .formulario .boton:hover {
	border: 1px solid #fff;
}

.arbol {
	text-align: center;
}

.arbol div, .tree_item .tree_child {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-grow: 1;
}

.tree_item {
	width: 100%;
	margin-top: 15px;
}

.tree_line:before{
  content:"";
	position:absolute;
	border: solid black;
	border-width: 0 1px 1px 0;
	padding: 10px;
  transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
	margin: 20px 0 0 0px;
}

/* - Tareas - */
 
.tareas .lista li {
	border: 1px solid #B6B6B6;
	margin-right: 20px;
	padding: 0 10px;
}

.tareas .lista li::after {
	content: '->';
	float: right;
	margin-right: -30px;
	position: relative;
}
 
.tareas .lista li a {
	color: #212121;
	display: block;
	padding: 20px 0;
	text-decoration: none;
}
 
.tareas .lista li a:hover {
	text-decoration: line-through;
}